<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnxy.blog.mapper.BlogInfoMapper">
    <insert id="insertBlogInfo" useGeneratedKeys="true" keyProperty="id">
        insert into blog_info(user_id, title, content)
        values (#{blogInfo.userId},
                #{blogInfo.title},
                #{blogInfo.content})
    </insert>
    <update id="updateStarsBlogCount">
        update blog_info
        <set>
            <choose>
                <when test="isAdd">
                    starts_count = starts_count + 1
                </when>
                <otherwise>
                    starts_count = starts_count - 1
                </otherwise>
            </choose>
        </set>
        where id = #{blogId}
        and user_id = #{userId}
    </update>
    <update id="updateReadCount">
        update blog_info
        set reads_count = reads_count + 1
        where id = #{blogId}
    </update>
    <update id="updateCollectionsCount">
        update blog_info
        set collections_count = collections_count + 1
        where id = #{blogId}
    </update>
    <select id="selectBlogInfo" resultType="com.qnxy.blog.data.resp.BlogInfoResp">
        select bi.id blogId,
               bi.title,
               bi.content,
               ui.id userId,
               ui.username,
               bi.stars_count,
               bi.collections_count,
               bi.reads_count,
               bi.created_time
        from blog_info bi
                 left join user_info ui on bi.user_id = ui.id
        where bi.id = #{blogId}
    </select>
</mapper>