<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnxy.blog.mapper.FavoriteBlogMapper">
    <insert id="insertFavoriteBolg">
        insert into favorite_blog (group_id, blog_id)
        values (#{groupId}, #{blogId})
    </insert>
    <update id="updateGroupIdByUserId">
        update favorite_blog
        set group_id = #{targetGroupId}
        where group_id = #{groupId}
    </update>
    <delete id="deleteDuplicateBlogIdByGroupId">
        with queryRanded as (select id,
                                    row_number() over (partition by blog_id order by created_time) rn
                             from favorite_blog
                             where group_id = #{groupId})
        delete
        from favorite_blog
        where id in (select id
                     from queryRanded
                     where rn > 1)
    </delete>
    <delete id="deleteById">
        delete
        from favorite_blog
        where id = #{id}
    </delete>
    <select id="selectById" resultType="com.qnxy.blog.data.entity.FavoriteBlog">
        select *
        from favorite_blog
        where id = #{id}
    </select>

</mapper>