<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnxy.blog.mapper.FollowInfoMapper">
    <insert id="insertFollowInfo">
        insert into follow_info (user_id, follow_id)
        values (#{userId}, #{followId})
    </insert>
    <delete id="deleteFollowInfo">
        delete
        from follow_info
        where user_id = #{userId}
          and follow_id = #{followId}
    </delete>
    <select id="selectFollowListByUserId" resultType="com.qnxy.blog.data.resp.UserFollowerInfoResp">
        select ui.id followerId,
               ui.username,
               ui.user_avatar,
               ui.profession,
               fi.follow_time
        from follow_info fi
                 left join user_info ui on fi.follow_id = ui.id
        where fi.user_id = #{userId}
    </select>
</mapper>