<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnxy.blog.mapper.StarsBlogRecordMapper">
    <insert id="insertStarsRecord">
        insert into stars_blog_record (user_id, blog_id)
        values (#{userId}, #{blogId})
    </insert>
</mapper>